@media screen and (max-width: 1015px){
    .offer__list-item{
        grid-template-columns: 1fr 1fr;
    }

    .barra__anuncio{
        max-height: 20vh;
        height: 6%;
        padding: 1rem;

    }

    .barra__anuncio .barra__button{
        max-height: 20vh;
        height: 10%; 
    }

    
}